# If this is set, this will be used as the domain to query, e.g., ${BC_GQL_DOMAIN}/graphql
BC_GQL_DOMAIN=

# If BC_GQL_DOMAIN is not set, queries will be made to store-${BC_STORE_HASH}-${BC_CHANNEL_ID}.mybigcommerce.com/graphql
BC_STORE_HASH=
BC_CHANNEL_ID=

# This token must have been generated with `allowed_cors_origins` including the domain where the app is running
BC_GQL_TOKEN=

# Valid credentials for an existing customer
EMAIL=
PASSWORD=